.modal__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #121212bb;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: none;

  .modal {
    background: white;
    padding: 46px;
    width: 920px;
    margin: 25px;


    .modal__close {
      cursor: pointer;
      margin: 0 0 0 auto;
      height: 22px;
      width: 22px;
    }

    .modal__title {
      font-weight: 700;
      font-size: 42px;
      line-height: 120%;
      margin: 0 0 24px 49px;
    }

    .modal__body {
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      margin: 0 0 10px 49px;

      .modal__content {
        margin-bottom: 15px;

        span {
          font-weight: 700;
        }
      }
      .count-reset{
        display: none;
        border: none;
        background-color: #e94c25;
        color: #FFFFFF;
        font-weight: 700;
        padding: 6px 10px;
        border-radius: 32px;
        cursor: pointer;
      }

    }
  }
}